body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    color: #0a9396;
    margin: 20px 0;
    text-align: center;
}

table {
    width: 100%; /* Make the table responsive */
    max-width: 600px;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: white;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

table th {
    background-color: #0a9396;
    color: white;
}

table td {
    background-color: #f9f9f9;
}

/* Button Styles */
button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0; /* Margin for spacing */
    margin: 10px auto; /* Auto margin centers the button */
    display: block; /* Ensure block-level behavior */
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

/* Clear Button Specific Styles */
#clearBtn {
    background-color: #ff4d4d; /* Red for clear button */
}

#clearBtn:hover {
    background-color: #ff1a1a;
}

.has-expense {
    color: #0a9396;
    margin: 20px 0;
    margin-top: 30rem;
}

#closeBtn {
    width: 120px;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0a9396;
    color: white;
    border: none;
    transition: background-color 0.3s;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#closeBtn:hover  {
    background-color: #005f73;
}

.close-link {
    font-size: 20px; /* Adjust the font size as needed */
    color: #fff; /* Change to your desired color */
    text-decoration: none;
    float: right;
}

.expense-display {
    background-color: #fff;
    margin-top: 30rem;
    width: 80%;
    max-width: 800px;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center; 
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}
